:root {
  --colorBlack: #000;
  --colorBlackText: #282828;
  --colorBlackLight: rgba(0, 0, 0, .6);
  --colorWhite: #fff;
  --colorWhiteDark: #C6C6C6;
  --colorWhiteCardList: #5C5C5C;
  --colorPrimary: #FF9900;
  --colorPrimaryLight: #FF6B00;
}